 .header{
    height:55px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    position:fixed;
    right:0px;
    left:0px;
    top:0px;
    z-index:100;
    background-color: white;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:rgb(225, 225, 220);
    
 }
 .left_section{ 
   width:-200px;
    margin-left:20px;
    display:flex;
   flex-shrink: 0;
    height:74px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor:pointer;

 }
 .menu_logo{
   height: 40px;
 }
 .youtube_logo{
        height:130px;
        margin-left:20px;
 }
 .middle_section{  
    flex:1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
 }
 .search_button{
    height: 40px;
    width:66px;
    border-color:rgb(168, 168, 168);
    border-width:1px;
    border-style:solid;
    border-color:rgb(168, 168, 168);
    border-radius:20px;
    margin-left:-1px;
    margin-right: 10px;
    
 }
 .search_button,.voice_button,
 .uplod-items-container,
 .upload-apps,.notification_contain,
 .profile-container,
 .left_section {
   position:relative;
   display: flex;
   justify-content:center;
   align-items: center; 
 }
 .search_button .tooltip,
 .voice_button .tooltip,
 .uplod-items-container .tooltip,
 .upload-apps .tooltip,
 .notification_contain .tooltip,
 .profile-container .tooltip,
 .left_section .tooltip{
   font-family: Roboto,Arial;
   position: absolute;
   background-color: rgb(202, 202, 202);
   padding-left: 8px;
   padding-right:8px;
   padding-top:4px;
   padding-bottom:4px;
   border-radius:2px;
   bottom:-30px;
   opacity:0;
   transition:opacity 0.15s;
   pointer-events: none;
   white-space: nowrap;
  
 }
 .search_button:hover .tooltip,
 .voice_button:hover .tooltip,
 .uplod-items-container:hover .tooltip, 
 .upload-apps:hover .tooltip,
 .notification_contain:hover .tooltip,
 .profile-container:hover  .tooltip,
 .left_section:hover .tooltip{
   opacity:1;
 }
 .search_icon{
    height:25px;
    

 }
  
 .search_bar{
     height:34px;
    flex:1;
    border-radius: 20px;
    padding-left:20px;
    font-size:16px;
    border-style: solid;
    border-color:rgb(168, 168, 168);
    box-shadow: inset 1px 2px 3px rgb(0,0,0,0.05);
    width:0px;
 }
 .search_bar::placeholder{
    font-family: Roboto, Arial;
    font-size:15px;
 }
 .voice_button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border:none; 
    border-color:rgb(168, 168, 168);
 }
 .voice_icon{
    height:25px;
    
    
 }
 .right_section{
    width:180px;
    margin-left:60px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
 }
 .uplod_icon{
    height:24px;

 }
 .youtubes-apps_icon{
    height:24px;
 }
.notification_icon{
    height:24px;
 }
 .notification_contain{
   position:relative;

 }
 .notification_number{
   position:absolute;
   top:-2px;
   right:-5px;
   background-color: red;
   font-family: Roboto,Arial;
   font-size:11px;
    padding-left: 6px;
    padding-right:6px;
    padding-bottom:2px;
    padding-top:2px;
    border-radius: 10px;
   
 }
 .profile_pic{
    height:40px;
    border-radius: 20px;
    margin-right: 20px;

 }